* {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: paleturquoise;
}

.centered {
    text-align: center; 
    font-size: 24;
}

.button {
    width: 15%; 
    height: 6%;
    font-size: 1.2em; 
    border-radius: 5px;
    margin: 15px; 
    text-align: center;
    background-color: lightseagreen;
}
